/* NAV */
.logo {
    width: 200px;
}
.navbar.scrolling-navbar.top-nav-collapse {
    background-color: #00000075 !important;
    transition: background .5s ease-in-out,padding .5s ease-in-out
}

/* OPTIONS */
.menuOptions {
    padding: 0;
}
.btnOptions {
    font-size: 13px !important;
}
.iconOptions {
    font-size: 18px !important;
}

/* MAP */
#map {
    width: 100%;
    height: 400px;
}
.imgPopUp {
    margin-bottom: 4px;
    width: 134px;
}
.medium {
    display: inline;
    width: 90% !important;
}
.nombrePropio {
    text-transform: capitalize;
}
hr {
    margin-top: 5px;
    margin-bottom: 10px;
}
.lista {
    overflow-x: scroll;
    max-height: 168px;
    min-height: 168px;
    margin-top: -8px;
}
.latLong {
    font-size: 13px;
    margin-top: -20px;
}
#listaResultado li {
    font-size: 14px;
    cursor: pointer;
}